language: python

python:
  - "3.5"

services:
    - mongodb

install:
    - pip install -r requirements.txt
    - pip install coveralls

script:
    #- python -m pytest test.py
    - coverage run -m unittest discover

after_success:
    - coveralls --data_file=.coverage

branches:
  only:
  - master

notifications:
  email: false
