{% extends "layout.html" %}

{% block title %}Admin{% endblock %}
{% block nav %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('profile') }}">Profile </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('games') }}">Games<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('games') }}">Leaderboard</a>
                </li>
{% endblock %}

{% block body %}
	<h1>Admin Page</h1>
{% endblock %}

{% block content %}
    <div class='container'>

    <div style = "width: 35%; float: left">

        <!--Form-->
        <div style = "width: 100%; clear: both">
            <h4>Create a new game</h4>
            <form method=POST action="{{ url_for('add_game') }}">
                <div class="form-group">
                    <label for="registrationdates">Registration Dates</label>
                    <input type='date' class="form-control" name="regdate1">
                    <input type='date' class="form-control" name="regdate2">
                </div>
                {% if registration_error %}
                    {% include 'partials/registration_error.html' %}
                {% endif %}
                {% if registration_overlap_error %}
                    {% include 'partials/registration_overlap_error.html' %}
                {% endif %}
                <div class="form-group">
                    <label for="gamedates">Game Dates</label>  
                    <input type='date' class="form-control" name="date1">
                    <input type='date' class="form-control" name="date2">
                </div>
                {% if game_error %}
                    {% include 'partials/game_error.html' %}
                {% endif %}
                {% if game_overlap_error %}
                    {% include 'partials/game_overlap_error.html' %}
                {% endif %}
                {% if reg_game_error %}
                    {% include 'partials/reg_game_error.html' %}
                {% endif %}
                {% if cur_reg_error %}
                    {% include 'partials/cur_reg_error.html' %}
                {% endif %}
                {% if cur_game_error %}
                    {% include 'partials/cur_game_error.html' %}
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="max-width:200px">Submit</button>
            </form>
        </div>
        </br></br>


        <div style = "width: 100%; clear: both">
            <h4>Add Admin User</h4>
            <form method=POST action="{{ url_for('add_admin') }}">
                <input type='text' name='admin_user' placeholder='Add new admin'>
                <button type='submit'>Add</button>

            </form>
        </div>

    </div>
  
    </div>


{% endblock %}
