<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap core CSS -->
    	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
    	
    	<!-- Custom styles -->
		<link rel="stylesheet" href="../static/css/styles.css">
		
    	<title>Create Account</title>
	</head>
	<body>
		<div class="container">
			<h1><center>Create a New Account</center></h1>
			
			<form method=POST action="{{ url_for('register') }}">
				<div class="form-group">
					<label for="newEmail">Email Address</label>
    				<input type="email" class="form-control" id="newEmail" name="username" placeholder="email">
				</div>
				{% if username_error %}
					{% include 'partials/username_error.html' %}
				{% endif %}
				
				<div class="form-group">
					<label for="newPassword">Password</label>
    				<input type="password" class="form-control" id="newPassword" name="password" placeholder="password">
				</div>

				<div class="form-group">
					<label for="confirmPassword">Confirm Password</label>
    				<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="password">
				</div>
				{% if password_error %}
					{% include 'partials/password_error.html' %}
				{% endif %}

        		<button class="btn btn-lg btn-primary btn-block" type="submit" style="max-width:200px">Sign Up</button>
			</form>
			
		</div>
	</body>
</html>
