{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block nav %}
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('games') }}">Games</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('games') }}">Leaderboard</a>
                </li>
                
{% endblock %}
{% block body %}
	<h1>Welcome "{{ user }}"</h1>
{% endblock %}