{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
	<h1>My Stocks</h1>
        <table class="table">
    		<thead>
        		<th scope="col">Ticker</th>
      			<th scope="col">Shares</th>
                <th scope="col">Current Value</th>
                <th scope="col">Price</th>
                <th scope="col">Investment</th>
                <th scope="col">Gain/Loss</th>
                <th scope="col">Commission</th>
        	</thead>
        	<tbody>
        		{% for stock in stocks %}
                <tr>
              	<td>{{stock["ticker"]}}</td>
              	<td>{{stock["shares"]}}</td>
                <td>{{stock["cur"]}}</td>
                <td>{{stock["price"]}}</td>
                <td>{{stock["investment"]}}</td>
                <td>{{stock["gain/loss"]}}</td>
                <td>{{stock["commission"]}}</td>
                </tr>
          		{% endfor %}
        	</tbody>
        </table>
{% endblock %}