{% extends "layout.html" %}

{% block title %}Profile{% endblock %}
{% block nav %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('profile') }}">Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Games</a>
                </li>
{% endblock %}

{% block body %}
	<h1>My Portfolio</h1>
{% endblock %}

{% block content %}
        <table class='table table-hover table-bordered table-condensed table-striped' border='1'>
    		<thead>
                <th scope="col">Name</th>
        		<th scope="col">Ticker</th>
                <th scope="col">Last Price ($) </th>
                <th scope="col">Day Change ($) </th>
                <th scope="col">Day Change (%) </th>
      			<th scope="col">Shares</th>
                <th scope="col">Cost Basis ($) </th>
                <th scope="col">Market Value ($) </th>
                <th scope="col">Gain ($) </th>
                <th scope="col">Gain (%) </th>
        	</thead>
        	<tbody>
        		{% for stock in stocks %}
                <tr>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["ticker"] }}</td>
                    <td>{{ '{0:.2f}'.format(stock["price"]) }}</td>
                    <td>{{ stock["change"] }}</td>
                    <td>{{ '{0:.2f}'.format(stock["change_percentage"]) }}</td>
                    <td>{{ '{0:.0f}'.format(stock["shares"]) }}</td>
                    <td>{{ '{0:.0f}'.format(stock["cost"]) }}</td>
                    <td>{{ '{0:.0f}'.format(stock["market_value"]) }}</td>
                    <td>{{ '{0:.0f}'.format(stock["gain"]) }}</td>
                    <td>{{ '{0:.2f}'.format(stock["gain_percentage"]) }}</td>
                </tr>
          		{% endfor %}
            </tbody>

            <!-- Summation row-->
            <tfoot>
                <tr>
                    <td>Portfolio Value</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ '{0:.0f}'.format(total_cost) }}</td>
                    <td>{{ '{0:.0f}'.format(total_market_value) }}</td>
                    <td>{{ '{0:.0f}'.format(total_gain) }}</td>
                    <td>{{ '{0:.2f}'.format(total_gain_percentage) }}</td>    
                </tr>
            </tfoot>
        	

        </table>
{% endblock %}