{% extends "layout.html" %}

{% block title %}Search{% endblock %}
{% block nav %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('games') }}">Games<span class="sr-only">(current)</span></a>
                </li>
{% endblock %}

{% block body %}
	<h1>Market Game Registration #{{id}}</h1>
{% endblock %}

{% block content %}
    <div class="container">

    <div style = "width: 35%; float: left">

        <h6><strong>About</strong></h6>
        <p class="text-muted">aljshdklfhaljsdhfklahdf</p>

        <br>
        <hr width=100% align=left>
        <br>

        <h6><strong>Join Group</strong></h6>

        <form>
          <div class="form-group" action="{{ url_for('join_group') }}" method="POST">
          <!--<label for="formControlSelect">Select :</label>-->
          	 <select name="option" class="form-control" id="formControlSelect">
          		{% for o in invited_groups %}
          		<option value="{{ o }}">{{ o }}</option>
              {% endfor %}
          	 </select>
          	 <button class="btn btn-sm join-group-btn" type="submit">Select</button>	
		      </div>
        </form>

          
        <br>
        <hr width=100% align=left>
        <br>

        <h6><strong>Create New Group</strong></h6>
        	<form method=POST action="{{ url_for('create_group') }}">
            <div class="form-group">
                <label for="groupNameInput">Group Name</label>
                <input type='text' name='group_name' placeholder="Name">
            
              <label>Find Members</label>
  				    <input type="text" id="txtName" readonly="readonly"> 
  				    <select class="users" width="300px" multiple>
					      {% for o in all_users %}
    					     <option value="{{ o }}">{{ o }}</option>
                {% endfor %}
				      </select>
				      <input type="button" onclick="SetName();" value="Add"/>
              <script>
                function SetName() {
                  var txtName = document.getElementById("txtName");
                  //txtName.value = Array.prototype.filter.call( document.getElementById("users").options, el => el.selected).map(el => el.value).join(",");
                  var temp = $(".users option:selected").val();
                  txtName.value=txtName.value.concat(temp.concat(","));

                  //alert(txtName.value)
                }
              </script>
              <br><br>
              <button type='submit' class='btn btn-primary'>Submit</button>
            </div>
          </form>


    </div>

    <div style = "width: 55%; float: right">
        {{ script | safe }}
        {{ header | safe }}
        {{ div | safe }}
    </div>
  
    </div>


{% endblock %}

