{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block nav %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('games') }}">Games<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
                </li>
{% endblock %}

{% block body %}
	<h1>Market Game Registration #{{id}}</h1>
{% endblock %}

{% block content %}
    <div class="container">

    <div style = "width: 35%; float: left">

        <h6><strong>About</strong></h6>
        <p class="text-muted">This is Game #1. Please register by either joining a group who has invited you or creating your own group.</p>

        <br>
        <hr width=100% align=left>
        <br>

        <h6><strong>Join Group</strong></h6>

        <form action="{{ url_for('join_group') }}" method="POST">
          <div class="form-group">
          <!--<label for="formControlSelect">Select :</label>-->
          	 <select name="option" class="form-control" id="formControlSelect">
          		{% for o in invited_groups %}
          		<option value="{{ o }}">{{ o }}</option>
              {% endfor %}
          	 </select>
          	 <button class="btn btn-sm join-group-btn" type="submit">Select</button>	
		      </div>
        </form>

          
        <br>
        <hr width=100% align=left>
        <br>

        <h6><strong>Create New Group</strong></h6>
        	<form method=POST action="{{ url_for('create_group') }}">
            <div class="form-group">
              <label for="groupNameInput">Group Name</label>
              <input type='text' name='group_name'>
              {% if group_name_exists %}
                {% include 'partials/group_name_exists_error.html' %}
              {% endif %}
              <label>Find Members</label>
  				    <input type="text" id="txtName" name="txtName" readonly="readonly"> 
  				    <select class="users" name="users" width="300px" multiple>
					      {% for o in all_users %}
    					     <option value="{{ o }}">{{ o }}</option>
                {% endfor %}
				      </select>
				      <input type="button" onclick="SetName();" value="Add"/>
              <script>
                function SetName() {
                  var txtName = document.getElementById("txtName");
                  var temp = $(".users option:selected").val();
                  txtName.value=txtName.value.concat(temp.concat(","));
                }
              </script>
              <br><br>
              <button type='submit' class='btn btn-primary'>Submit</button>
            </div>
          </form>


    </div>

    <div style = "width: 55%; float: right">
        {{ script | safe }}
        {{ header | safe }}
        {{ div | safe }}
    </div>
  
    </div>


{% endblock %}

