{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block body %}
	<h1>My Stocks</h1>
        <table class="table">
            <thead>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Current Value</th>
            </thead>
        	<tbody>
            	<tr>
                <td>{{ticker}}</td>
                <td>{{name}}</td>
                <td>{{cur}}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}
{% block content %}
	<div class='container'>
	
		<h1>{{ ticker }}</h1>

		<form method=POST action="{{ url_for('add_stock') }}">

		<input type='hidden' name='ticker' value='{{ ticker }}'>
		
			<label for='date'>Date</label>
    		<input type='date' name='date'>

    		<label for='shares'>Shares</label>
    		<input type='number' name='shares'>

    		<label for='price'>Price</label>
    		<input type='number' name='price'>

    		<label for='commission'>Commission</label>
    		<input type='number' name='commission'>
    		<br><br>

        	<button class="btn btn-lg btn-primary btn-block" type="submit" style="max-width:200px">Add Stock to Portfolio</button>
		</form>
	</div>
{% endblock %}
