{% extends "layout.html" %}

{% block title %}Search{% endblock %}
{% block nav %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Games</a>
                </li>
{% endblock %}
{% block body %}
  <h1>{{ name }} ({{ ticker }})</h1>
  <h2>${{ close_price }}</h2> 
  <h4 style="color:#838382">{{ price_change_str }}</h4>
  <h6 style="color:#838382">At most recent close</h6>
{% endblock %}

{% block content %}
    <div class='container'>

    <div style = "width: 35%; float: left">

        <!--Summary display-->
        <h4>Summary</h4>
        <h6>Previous Close: ${{ '{0:.2f}'.format(previous_close_price) }}</h6>
        <h6>Open: ${{ '{0:.2f}'.format(open_price) }}</h6>
        <h6>Day's Range: ${{ '{0:.2f}'.format(low_price) }} - ${{ '{0:.2f}'.format(high_price) }}</h6>
        <h6>Volume: {{ volume }}</h6>
        <br>
        <hr width=100% align=left>
        <br>

        <!--Form-->
        <div style = "width: 100%; clear: both">
            <h4>Add Stock to Portfolio</h4>
            <form method=POST action="{{ url_for('add_stock') }}">
                <input type='hidden' name='name' value='{{ name }}'>
                <input type='hidden' name='ticker' value='{{ ticker }}'>
            
                <label for='shares'>Shares</label>
                <input type='number' min='{{ -current_holdings }}' step="1" name='shares' placeholder='number of shares'>
                
                <button type='submit' class='btn btn-primary'>Submit</button>

            </form>
        </div>

    </div>

    <div style = "width: 55%; float: right">
        {{ script | safe }}
        {{ header | safe }}
        {{ div | safe }}
    </div>
  
    </div>


{% endblock %}